@import './variables.scss';
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  font-family: $def-font;
  position: relative;
}

*, :after, :before {
  box-sizing: border-box;
}

ol, ul {
  list-style-type: none;
}

a, a:hover {
  text-decoration: none;
  color: $def-text-color;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

.material-icons-sharp {
  cursor: pointer;
}

.error-message {
  background: $error;
  color: $def-inv-color;
  padding: 10px 20px;
  text-align: center;
  font-weight: 600;
  width: fit-content;
  border-radius: 2px;
  margin: 10px auto;
  display: flex;
  align-items: center;

  .close-icon {
    margin-left: 20px;
  }
}

input[type=text] {
  border: 1px solid $def-text-color;
  border-radius: 2px;
  padding: 10px 5px;
  font-size: 16px;
}

.error-text {
  position: absolute;
  color: $error;
  font-size: 12px;
  top: -12px;
}

