@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400;500;600&display=swap');

$def-font: 'IBM Plex Sans', sans-serif;

$def-text-color: #333;
$def-inv-color: #FFF;
$error: crimson;
$confirm: dodgerblue;