<template>
  <div class="input-field">
    <input type="text"
      @input="$emit('update:modelValue', $event.target.value)"
      :value="modelValue" :disabled="disabled">
  </div>
</template>

<script>
export default {
  props: {
    modelValue: [Number, String],
    disabled: Boolean,
  },
};
</script>
