<template>
<div class="app">
  <div class="app__header">
    <h1>Currency Exchange</h1>
    <p>Please select the currencies and the amount!</p>
  </div>
  <div class="exchange-form">
    <div class="exchange-form__group">
      <div class="error-text" v-if="fromError">This field accepts only numbers!</div>
      <input-field v-model="formData.from" :disabled="fromError" @click="resetField('from')"/>
      <Multiselect
        v-model="formData.fromCurr"
        :options="currencies"
        :searchable="true"
        :canDeselect="false"
        :canClear="false"/>
    </div>
    <span class="material-icons-sharp swap-icon">swap_horiz</span>
    <div class="exchange-form__group">
      <input-field v-model="formData.to" :disabled="true"/>
      <Multiselect
      v-model="formData.toCurr"
      :options="currencies"
      :searchable="true"
      :canDeselect="false"
      :canClear="false"/>
    </div>
  </div>
  <div class="error-message" v-if="globalMessage">
    {{globalMessage}}!
    <span v-if="globalMessage === 'Network Error'">Please try again later</span>
    <span class="material-icons-sharp close-icon" @click="resetGlobalMessage">close</span>
  </div>
</div>
</template>

<script>
import { useStore, mapMutations, mapGetters } from 'vuex';
import Multiselect from '@vueform/multiselect';
import InputField from './components/InputField.vue';
import common from './api/common';

export default {
  name: 'App',
  components: {
    InputField,
    Multiselect,
  },
  data() {
    return {
      formData: {
        fromCurr: 'EUR',
        toCurr: 'USD',
        from: 1,
        to: 1,
      },
      fromError: false,
    };
  },
  setup() {
    const store = useStore();
    store.dispatch('getCurrencies');
  },
  computed: {
    ...mapGetters(['globalMessage', 'currencies']),
  },
  methods: {
    ...mapMutations(['resetGlobalMessage']),
    resetField() {
      if (this.fromError) {
        this.formData.from = this.formData.from.substring(0, this.formData.from.length - 1);
        this.fromError = false;
      }
    },
    checkNumber(number) {
      const ex = /^[0-9]+\.?[0-9]*$/;
      if (ex.test(number) === false) {
        this.fromError = true;
        return false;
      }
      return true;
    },
  },
  watch: {
    formData: {
      async handler() {
        if (this.checkNumber(this.formData.from)) {
          const resp = await common.convert(this.formData);
          const rate = Object.values(resp.data.result);
          this.formData.to = (this.formData.from * rate).toFixed(2);
        }
      },
      deep: true,
      immediate: true,
    },
  },
};
</script>

<style lang="scss">
@import './assets/style/main.scss';
@import '@vueform/multiselect/themes/default.scss';

.app {
  &__header {
    background: $confirm;
    color: $def-inv-color;
    padding: 10px;
    h1 {
      font-weight: 200;
    }

    p {
      font-weight: 500;
    }
  }

  .exchange-form {
    max-width: 600px;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    @media screen and (min-width: 460px) {
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
    }

    &__group {
      position: relative;
    }

    .multiselect {
      width: calc(100% + 2px);
      margin-left: -1px;
      &-search {
        background-color: $confirm;
        color: $def-inv-color;
      }
      &-single-label {
        color: $def-inv-color;
        font-weight: 500;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 26px);
        display: block;
        padding-top: 11px;
      }
      &-caret, &-clear-icon {
        background-color: $def-inv-color;
      }
      &-option {
        font-size: 12px;
      }
    }

    .swap-icon {
      font-size: 46px;
      transform: rotate(90deg);
      margin: 20px 0;
      color: $confirm;
      @media screen and (min-width: 460px) {
        transform: rotate(0deg);
      }
    }
  }
}

</style>
